# =============================================================================
# Vivado & Xsim Build Artifacts & Logs
# =============================================================================
work/
xsim.dir/
.Xil/
*.log
*.jou
*.pb
*.str
*.wdb
*.vdi
*.vds
*.dcp
*.xml
*.html

# =============================================================================
# Backup & Temporary Files
# =============================================================================
*.backup.*
*~
